<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PhilAD</title>

    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom bootstrap for this template -->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/agency.min.css" rel="stylesheet" type="text/css">
  <link href="static/styles.css" rel="stylesheet" type="text/css">
  <link href="static/agency.css" rel="stylesheet" type="text/css">
  </div>
  </head>
  <body>
    <div class="header text-center">
      <a class="title">PhilAD</a>
    </div>



    <div class="separator"></div>

  	<div class="container">
      <div class="row">
        <div class="col-lg-12">
          <form id="form">
              {{form.hidden_tag()}}
            <div class="row">


            <div class="separator col-md-12"></div>
            <div class="col-md-3">
              {{form.address.label()}}
            </div>
            <div class="col-md-9">
              {{form.address()}}
            </div>

            <div class="separator col-md-12"></div>
            <div class="col-lg-12 text-center">

        <div class="submit-div">
          <button id = "submit" class="btn btn-secondary btn-x2 text-uppercase">Parse Address</button>
        </div>
      </div>
      </form>


      <!-- Division separator -->
            <div class="separator col-md-12"></div>


            <!-- Side spacer for text area label row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Address components text area label Barangay -->
            <div class="col-md-2">
              <div class="form-group">
                <label for="barangay">Barangay</label>
              </div>
            </div>

            <!-- Address components text area label City -->
            <div class="col-md-2">
              <div class="form-group">
                <label for="city">City</label>
              </div>
            </div>

            <!-- Address components text area label Province -->
            <div class="col-md-2">
              <div class="form-group">
                <label for="province">Province</label>
              </div>
            </div>

            <!-- Address components text area label Region -->
            <div class="col-md-2">
              <div class="form-group">
                <label for="region">Region</label>
              </div>
            </div>

            <!-- Address components text area label Postal Code -->
            <div class="col-md-2">
              <div class="form-group">
                <label for="">Postal Code</label>
              </div>
            </div>

            <!-- Side spacer for text area label row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Side spacer for text area row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Address components text area Barangay -->
            <div class="col-md-2">
              <div class="form-group">
                <textarea class="form-control" id="barangay" value="barangay" style="text-transform: uppercase;"></textarea>
              </div>
            </div>

            <!-- Address components text area City -->
            <div class="col-md-2">
              <div class="form-group">
                <textarea class="form-control" id="city" value="city" style="text-transform: uppercase;"></textarea>
              </div>
            </div>

            <!-- Address components text area Province -->
            <div class="col-md-2">
              <div class="form-group">
                <textarea class="form-control" id="province" value="province" style="text-transform: uppercase;"></textarea>
              </div>
            </div>

            <!-- Address components text area Region -->
            <div class="col-md-2">
              <div class="form-group">
                <textarea class="form-control" id="Region" value="region" style="text-transform: uppercase;"></textarea>
              </div>
            </div>

             <!-- Address components text area Postal Code -->
            <div class="col-md-2">
              <div class="form-group">
                <textarea class="form-control" id="" value="region" style="text-transform: uppercase;"></textarea>
              </div>
            </div>

            <!-- Side spacer for dropdown textarea row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Division separator -->
            <div class="separator col-md-12"></div>

            <!-- Submit button -->
            <div class="col-lg-12 text-center">
              <div class="submit-div">
                <button class="btn btn-secondary btn-x2 text-uppercase" id = "save_excel">Submit</button>
              </div>
            </div>

            <!-- Division separator -->
            <div class="separator col-md-12"></div>

            <!-- Side spacer for dropdown row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Dropdown list Barangay -->
            <div class="col-md-2" >
              <div class="form-group">
                <select id="barangay_dropdown" class="form-control" style="text-transform: uppercase;">
                  <option value="">...</option>
                </select>
              </div>
            </div>

            <!-- Dropdown list City -->
            <div class="col-md-2" >
              <div class="form-group">
                <select id="city_dropdown" class="form-control" style="text-transform: uppercase;">
                  <option value="">...</option>
                </select>
              </div>
            </div>

            <!-- Dropdown list Province -->
            <div class="col-md-2" >
              <div class="form-group">
                <select id="province_dropdown" class="form-control" style="text-transform: uppercase;">
                  <option value="">...</option>
                </select>
              </div>
            </div>

            <!-- Dropdown list Region -->
            <div class="col-md-2" >
              <div class="form-group">
                <select id="region_dropdown" class="form-control" style="text-transform: uppercase;">
                  <option value="">...</option>
                </select>
              </div>
            </div>

            <!-- Dropdown list Postal Code -->
            <div class="col-md-2" >
              <div class="form-group">
                <select id="postal_dropdown" class="form-control" style="text-transform: uppercase;">
                  <option value="">...</option>
                </select>
              </div>
            </div>

            <!-- Side spacer for dropdown row -->
            <div class="col-sm-1">
              <div class="form-group"></div>
            </div>

            <!-- Division separator -->
            <div class="separator col-md-12"></div>

            <!-- Submit button -->
            <div class="col-lg-12 text-center">
              <div class="submit-div">
                <button id = "" class="btn btn-secondary btn-x2 text-uppercase">Submit</button>
              </div>
            </div>


  </div>

</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
    window.onload = function() {
        // setup the button click
        document.getElementById("submit").onclick = function() {
            // ajax the JSON to the server
            $.ajax({
                url: '/predict',
                data: $('#form').serialize(),
                type: 'POST',
                success: function(response) {
                    const entries = Object.entries(response.prediction);
                    $('#barangay').val('');
                    $('#city').val('');
                    $('#province').val('');
                    $('#region').val('');
                    for(const [key, value] of entries){
                        switch(key){
                            case 'barangay':
                                $('#barangay').val(value);
                                break;
                            case 'city':
                                $('#city').val(value);
                                break;
                            case 'province':
                                $('#province').val(value);
                                break;
                            case 'region':
                                $('#region').val(value);
                                break;
                            default:
                                break;
                        }
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
            // stop link reloading the page
         event.preventDefault();
        }

        // Setup mo dito lahat ng onChange listeners
        // Barangay field to right? then matic dapat na column nya is barangay
        // note na barangay level palang to, bahala ka na kung gagawa ka ng next levels
        $('#barangay').on('keyup', function(){

            // Get barangay field value
            var barangay = $('#barangay').val();

            $.ajax({
                url: '/dropdown?column=barangay&input=' + barangay,
                type: 'GET',
                success: function(response){

                    // parse mo muna si response para maging JSON
                    response = JSON.parse(response);

                    // lahat ng content ng response iloop mo
                    response.forEach(function(item, index){

                        // Gawa ka option for each DROPDOWN syempre mula barangay and so on
                        // kapag city level mula naman city and so on
                        var newOption = new Option(item.barangay, index, false, false);
                        $('#barangay_dropdown').append(newOption).trigger('change');

                        var newOption = new Option(item.city, index, false, false);
                        $('#city_dropdown').append(newOption).trigger('change');

                        var newOption = new Option(item.province, index, false, false);
                        $('#province_dropdown').append(newOption).trigger('change');

                        var newOption = new Option(item.region, index, false, false);
                        $('#region_dropdown').append(newOption).trigger('change');

                        var newOption = new Option(item.postal, index, false, false);
                        $('#postal_dropdown').append(newOption).trigger('change');
                    });
                    // response, function(i, item){
                    //     console.log(item);
                    //     // $('#barangay_dropdown').append("<option value'")+response[i].column+("'</option>");
                    // });

                },
                error: function(error) {
                    console.log(error);
                }
            });
        });

    };
</script>
