<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>PhilAD</title>
  </head>
  <body>
    <div class="container">
    <div class="header">
      <h2 class="title">PhilAD</h2>
    </div>

  	<div class="form">
      <form method = 'POST', 'GET'>
        {{form.hidden_tag()}}
        <div>
          {{form.address.label()}}
          {{form.address()}}
        </div>
        <div class="submit-div">
          {{form.submit()}}
        </div>
      </form>
    </div>
    <div class="result">
        <label for="barangay">Barangay</label>
        <textarea id="barangay" class="textarea"></textarea>
        <label for="city" class="textarea">City</label>
        <textarea id="city" class="textarea"></textarea>
        <label for="province" class="textarea">Province</label>
        <textarea id="province" class="textarea"></textarea>
        <label for="region">Region</label>
        <textarea id="region" class="textarea"></textarea>
    </div>
  </div>

</body>
</html>
